.div {
    background-color: black;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 740px;
    border-radius: 10px;
    top: 150px;
}
.default {
    background-color: rgb(197, 72, 187);
    padding: 10px;
}
.labelForInputsText {
    background-color: green;
    display: inline-block;
    width: 100%;
    text-align: center;
    
}
.inputsText {
    min-width: 100%;
    background-color: grey;
}

.default textarea {
    min-width: 100%;
    max-width: 100%;
}

.inputsRadio {
    margin-left: 25px;
}

.default span {
    background-color: gold;
    display: inline-block;
    width: 100%;
    text-align: center;
    align-items: center;
}
.default button {
    margin: 2px 6px;
}