.div {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 700px;
    margin: 10px 5px 5px 22px;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    top: 150px;
}
.default {
    background-color: rgb(197, 72, 187);
    border-radius: 10px;    
    padding: 10px;
}
.labelForInputsText {
    background-color: green;
    display: inline-block;
    width: 100%;
    text-align: center;
    
}
.inputsText {
    min-width: 100%;
    background-color: grey;
}

.default textarea {
    min-width: 100%;
    max-width: 100%;
}

.inputsRadio {
    margin-left: 25px;
}
.width {
}
.width input {
    margin: 0 10px 0 0px;
}
.width label {
    margin: 0 0 0 4px;
}

.default span {
    width: 100%;
    text-align: center;
    align-items: center;
    display: inline-block;
}
.default button {
    margin: 2px 6px;
}