.board {
    background-color: white;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    width: 755px;
}
.boardChild {
    margin: 10px 5px 5px 5px;
    padding: 5px;
    border-radius: 10px;
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    width: 98%;
    margin: 0 5px 5px 5px;
}
.card table{
    background: linear-gradient(rgb(214, 210, 210), rgb(241, 211, 1));
    background-color: black;
    margin: 0 5px 5px 5px;
    border-radius: 5px;
    width: 100%;
}
.card table td {
    background: linear-gradient(rgb(241, 211, 1), rgb(243, 236, 236));
    text-align: center;
    border: 1px solid black;
}
.subject {
    text-align: left;
    max-width: 52vw;
}
.addButton {
    background-color: black;
    color: rgb(241, 211, 1);
    position: absolute;
    font-size: xx-large;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    margin-top: -60px;
    margin-left: 680px;
}