.board {
    background-color: white;
    margin: 5px 5px 5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 745px;
}
.boardChild {
    margin: 10px 5px 5px 5px;
    padding: 5px;
    border-radius: 10px;
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
}

.addButton {
    background-color: black;
    color: rgb(241, 211, 1);
    position: absolute;
    font-size: xx-large;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    margin-top: -60px;
    margin-left: 680px;
}