.div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    width: 98%;
    margin: 0 5px 5px 5px;
}

.card {
    position: relative;

}

.card table {
    background: linear-gradient(rgb(214, 210, 210), rgb(241, 211, 1));
    background-color: black;
    margin: 0 5px 5px 5px;
    border-radius: 5px;
    width: 100%;
}
.card table td {
    background: linear-gradient(rgb(241, 211, 1), rgb(243, 236, 236));
    text-align: center;
    border: 1px solid black;
}

.deleteBtn {
    position: absolute;
    display: none;
    cursor: pointer;
    background-color: red;
    border: none;
    border-radius: 3px;
    right: 0;

}
.card:hover .deleteBtn {
    display: block;
}