.area {
    display: grid;
    height: 85%;
    background-color: darkgoldenrod;
    grid-template-columns: 1fr 1fr 1fr;
}

/*Colocar efeito quando apertar em algum botão*/

.card {
    display: flex; /*???*/
    flex-wrap: wrap;
    background-color: bisque;
    /* /* /* /* /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */ /*AQUIIII*/
    width: 220px;
    min-height: 120px;
    max-height: 200px;
    margin: 20px 0 0 20px;
}

.btn {
    position: absolute;
    background-color: tomato;
    color: whitesmoke;
    border: none;
    border-radius: 3px;

    margin-top: 3px;
    margin-left: 196px;
    cursor: pointer;
}

.add {
    display: flex;
    position: absolute;
    background-color: rgb(51, 51, 226);
    color: whitesmoke;
    font-size: xx-large;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    float: right;
    margin-left: 680px;
    margin-top: 500px;
    cursor: pointer;
    border: none;
}
