.menu {
    display: flex;
    min-width: 55vw;
    justify-content: center;
    background-color: yellow;    
}

.btn {
    min-width: max-content;
    background-image: linear-gradient(to top, rgb(110, 185, 110), rgb(178, 224, 178));
    color: whitesmoke;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}