.menu {
    display: flex;
    height: 40px;
    justify-content: center; 
    align-items: center;
}
.selectedBTN {
    margin-top: 10px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 120px;
    cursor: pointer;
    transition: all .2s ease-in-out;

    background-color: black;
    color: rgb(241, 211, 1);
    font-size: larger;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
}
.notSelectedBTN {
    margin-top: 10px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 120px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: rgb(243, 227, 107);

    border: 1px solid rgb(243, 227, 107);
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
}

.btn:hover {
    transform: scale(1.1);
}