.menu {
    display: flex;
    justify-content: center; 
    width: 56vw;  
    height: 8vh;
}

.btn {
    min-width: max-content;
    background-image: linear-gradient(to top, #A34828, #d48c71);
    color: whitesmoke;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}