
.area {
    min-width: 300px;
    max-width: 300px;
    margin-top: 5px;
}

.area fieldset {
    background-color: rgb(53, 49, 49);
    color: white;
    border-radius: 8px;
    padding: 0;
    text-align: center;
    margin: 0 5px 0 5px;
}

.area input {
    border: none;
    border-radius: 5px;
    height: 18px;
}

.area button {
    float: right;
}

.area table {
    margin: 0 auto 0 auto;
}

.area legend {
    background: linear-gradient(rgb(211, 205, 205), rgb(53, 49, 49));
    border-radius: 10px;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}