
.area {
    width: 21.5vw;
    height: 100vh;
    margin-right: 0.5vw;
    
}

.area fieldset {
    /* background-color: rgb(144, 75, 2);
    border-color: rgb(136, 76, 12); */
    background-color: rgb(28, 57, 55);
    border-color: rgb(24, 41, 41);
    color: white;
    border-radius: 10px;
    padding: 0;
    margin: 3px 0;
    text-align: center;
}

.area input {
    background-color: rgb(156, 196, 193);
    border: none;
    border-radius: 5px;
    border: none;
    height: 21px;
}

.area legend {
    margin-left: auto;
    margin-right: auto; 
}

.area button {
    float: right;
}

.area table {
    margin: auto;
}