
.form {
    background-color: orange;
    margin-right: 5px;
    display: flex;
    width: 300px;
    height: 100vh;
}

.form fieldset {
    background-color: tomato;
    width: 95%;
    padding: 0;
    border-radius: 8px;
    margin: auto;
    height: 100vh;
}

.form textarea {
    max-width: 270px; /*CORRIGIR*/
    min-width: 270px; /*CORRIGIR*/
    height: 60px;
    margin: 0 5px;
}

.form select {
    width: 270px;
    text-align: center;
    margin: 0 2.5%;
}

.tdLabel {
    background-color: greenyellow;
    width: 100px;
}
.tdLabel label {
    background-color: turquoise;
}

.tdInput {
    background-color: yellow;
}
.tdInput input {
    background-color: violet;
    border-radius: 5px;
    border: none;
    height: 21px;
}

.trFunctions {
    /* background-color: black; */
    border-spacing: 28px 5px;
}

.tdUra {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;

}
.tdAmil {
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 5px;
}








