
.form {
    display: flex;
    min-width: 300px;
    max-width: 300px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

.form fieldset {
    background-color: rgb(241, 211, 1);
    border: none;  
    padding: 0 5px 10px 10px;
    border-radius: 8px;
}

.form textarea {
    max-width: 270px; /*CORRIGIR*/
    min-width: 270px; /*CORRIGIR*/
    height: 60px;
}

.form select {
    width: 270px;
    text-align: center;
    margin: 0 3px;
}

.tdLabel {
    text-align: center;
    width: 35%;
}
.tdLabel label {
    /* background-color: turquoise; */
}

.tdInput {
    /* background-color: yellow; */
}
.tdInput input {
    /* background-color: violet; */
    border-radius: 5px;
    border: none;
    height: 20px;
}

.trFunctions {
    display: inline-flex;
    border-spacing: 24px 5px;
}
.copyBtn {
    background-color: black;
    color: rgb(241, 211, 1);
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 23px;
}
.copyBtn:hover {
    cursor: pointer;
}
.copyBtn:active {
    background-color: tomato;

}
.checkbox {
    background-color: black;
    color: rgb(241, 211, 1);
    display: inline-block;
    width: 60px;
    height: 21px;
    border-radius: 5px;
    padding-left: 3px;
}
