
.form {
    background-color: pink;
    display: flex;
    margin-right: 5px;
    min-width: 290px;
    max-width: 290px;
    /* min-height: 95vh; */
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.form fieldset {
    background-color: rgb(28, 57, 55);
    border-color: rgb(24, 41, 41);
    color: white;
    width: 100%;   
    padding: 0;
    border-radius: 8px;
}

.form textarea {
    background-color: rgb(156, 196, 193);
    max-width: 270px; /*CORRIGIR*/
    min-width: 270px; /*CORRIGIR*/
    height: 60px;
}

.form select {
    width: 270px;
    text-align: center;
    margin: 0 3px;
}

.tdLabel {
    text-align: center;
    width: 35%;
}
.tdLabel label {
    /* background-color: turquoise; */
}

.tdInput {
    /* background-color: yellow; */
}
.tdInput input {
    /* background-color: violet; */
    background-color: rgb(156, 196, 193);
    border-radius: 5px;
    border: none;
    height: 21px;
}

.trFunctions {
    /* background-color: black; */
    border-spacing: 28px 5px;
}

.checkbox {
    border: 1px solid cadetblue;
    border-radius: 5px;
    padding: 0 2px;
}
.checkbox input {
    margin: 0;
}
.checkbox label {
}








